<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.avallie">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name=".InitApplication"
        android:allowBackup="true"
        android:icon="@drawable/logo_avallie_no_text"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true">
        <activity
            android:name=".view.register.RegisterSuccessActivity"
            android:theme="@style/AppThemeFilter" />
        <activity
            android:name=".view.BudgetProductDetailActivity"
            android:parentActivityName=".view.BudgetDetailActivity"
            android:theme="@style/AppThemeFilter" />
        <activity
            android:name=".view.BudgetDetailActivity"
            android:parentActivityName=".view.MainActivity"
            android:theme="@style/AppThemePrimary" />
        <activity
            android:name=".view.register.RegisterActivity"
            android:theme="@style/AppThemeFilter" />
        <activity
            android:name=".view.LoginActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppThemeFilter"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".view.AccountActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppThemeFilter" />
        <activity
            android:name=".view.MainActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="adjustResize">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".view.filter.FiltersActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppThemeFilter" />
    </application>

</manifest>